*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Lora", serif;
  color: white;
}

.header {
  background-color: black;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
}

.header__primary {
  position: relative;
}

.header__primary-main {
  position: absolute;
  transform: translate(-50%, -50%);
}
.header__primary-sub {
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
}
