//COLOR VARIABLES
$color-primary: #1b1b1b;

$color-secondary: #f7df1e;

$color-tertiary: #ee2a2a;
//FONT VARIABLES
$font-primary: "Raleway", Arial, Helvetica, sans-serif;

$font-secondary: "Fauna One", serif;
//RESPONSIVE BREAKPOINTS

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: $color-secondary;
  color: #fff;
}

html {
  font-size: 62.5%; //10px / 16px = 62.5%, 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.3rem;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 100vh;
}
////////BUTTON
.btn {
  background-color: $color-secondary;
  color: $color-primary;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 3px;
  font-size: 2rem;
  font-family: $font-primary;
  text-transform: uppercase;
  margin-top: 3rem;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
  }
}
