.heading-1 {
  font-size: 18rem;
  font-family: $font-primary;
  font-weight: 400;
  color: $color-primary;
  line-height: 1.2;
}

.heading-3 {
  font-size: 1.1rem;
  font-family: $font-secondary;
  font-weight: 400;
}
