.contact {
  grid-column: center-start / center-end;
  margin: 10rem 0;

  &__content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
  }

  &__details {
    justify-self: end;
    text-align: right;
  }

  &__details-list {
    list-style: none;
  }

  &__details-item {
    margin-bottom: 2rem;
    font-size: 2.3rem;

    span {
      font-weight: bold;
    }
  }

  &__details-link:link,
  &__details-link:visited {
    text-decoration: none;
    color: $color-primary;
    transition: all 0.2s;
  }

  &__details-link:hover,
  &__details-link:active {
    color: $color-secondary;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &-input,
    &-textarea {
      width: 80%;
      font-family: inherit;
      font-size: 2rem;
      color: inherit;
      padding: 1.5rem 2rem;
      margin: 1rem 0;
      border-radius: 2px;
      border: 5px solid $color-primary;
    }

    &-input {
      &:focus {
        outline: none;
        border-bottom: 5px solid $color-secondary;
      }

      &:focus:invalid {
        border-bottom: 5px solid $color-tertiary;
      }
    }

    &-textarea {
      height: 20rem;
    }
  }
}
